body {
    background-image: url("/12-green-seamless-grass-texture.jpg") !important;
    background-repeat: repeat !important;
}

footer {
    background-color: whitesmoke !important;
}

#survey-container {
    background-color: whitesmoke !important;
}